<div id="newBucketModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <header class="modal-header">
    <h4 id="modalTitle">Create New Person</h4>
  </header>
  <%= form_for @new_bucket, :remote => true do |f| %>
    <div class="content">
      <%= f.text_field :first_name, :id => "new-bucket-input", :class => "search-field", autocomplete: "on", spellcheck: "false", autocorrect: "off", :placeholder => "Enter first and last name", :value => "" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <footer class="options">
      <%= f.submit "Cancel", :class => "cancel button close-reveal-modal", :id => "cancel_bucket" %>
      <%= f.submit "Save", :class => "save button close-reveal-modal", :id => "save_bucket" %>
    </footer>
  <% end %>
</div>

<%= render 'shared/buckets/new_bucket_modal_js' %>