<%= form_for(@contact_card) do |f| %>
  <% if @contact_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_card.errors.count, "error") %> prohibited this contact_card from being saved:</h2>

      <ul>
      <% @contact_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bucket_id %><br />
    <%= f.number_field :bucket_id %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_area :contact_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
