<p id="notice"><%= notice %></p>

<p>
  <b>Accountsid:</b>
  <%= @call.AccountSid %>
</p>

<p>
  <b>Tozip:</b>
  <%= @call.ToZip %>
</p>

<p>
  <b>Fromstate:</b>
  <%= @call.FromState %>
</p>

<p>
  <b>Called:</b>
  <%= @call.Called %>
</p>

<p>
  <b>Fromcountry:</b>
  <%= @call.FromCountry %>
</p>

<p>
  <b>Callercountry:</b>
  <%= @call.CallerCountry %>
</p>

<p>
  <b>Calledzip:</b>
  <%= @call.CalledZip %>
</p>

<p>
  <b>Direction:</b>
  <%= @call.Direction %>
</p>

<p>
  <b>Fromcity:</b>
  <%= @call.FromCity %>
</p>

<p>
  <b>Calledcountry:</b>
  <%= @call.CalledCountry %>
</p>

<p>
  <b>Callerstate:</b>
  <%= @call.CallerState %>
</p>

<p>
  <b>Callsid:</b>
  <%= @call.CallSid %>
</p>

<p>
  <b>Calledstate:</b>
  <%= @call.CalledState %>
</p>

<p>
  <b>From:</b>
  <%= @call.From %>
</p>

<p>
  <b>Callerzip:</b>
  <%= @call.CallerZip %>
</p>

<p>
  <b>Fromzip:</b>
  <%= @call.FromZip %>
</p>

<p>
  <b>Callstatus:</b>
  <%= @call.CallStatus %>
</p>

<p>
  <b>Tocity:</b>
  <%= @call.ToCity %>
</p>

<p>
  <b>Tostate:</b>
  <%= @call.ToState %>
</p>

<p>
  <b>To:</b>
  <%= @call.To %>
</p>

<p>
  <b>Tocountry:</b>
  <%= @call.ToCountry %>
</p>

<p>
  <b>Callercity:</b>
  <%= @call.CallerCity %>
</p>

<p>
  <b>Apiversion:</b>
  <%= @call.ApiVersion %>
</p>

<p>
  <b>Caller:</b>
  <%= @call.Caller %>
</p>

<p>
  <b>Calledcity:</b>
  <%= @call.CalledCity %>
</p>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
