<!-- Buckets Search Tools -->
<%= render 'shared/buckets/bucket_sort' %>

<%= render 'shared/search_results_list' %>
<!-- Buckets -->
<div class="buckets-list-wrap sorted-list" id="buckets-list">
  <!-- List -->
  <%= render 'shared/buckets/sorted_buckets', :buckets => buckets %>
</div>

<!-- SVGs -->
<%= render "shared/buckets/hippo_star" %>
<%= render 'shared/modals/new_bucket_modal' %>        
<%= render 'shared/buckets/paginate_buckets_js' %>