<!-- Main Menu -->
<%= render "shared/menus/desktop/main-menu" %>

<!-- Side Menu -->
<%= render "shared/menus/desktop/side-menu" %>

<!-- Menus_mbl -->
<%= render "shared/menus/mobile/all-mobile" %>

<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">

  <!-- Buckets Search Tools -->
  <div class="buckets-search-wrap">
    <div class="options-wrap">
      <div class="currently" >
        <h5>All Buckets</h5>
        <span id="current-selection">A-Z</span>
      </div>
      <div class="sort-and-add">
        <div class="sort-buckets">
          <select class="nice" dir="rtl" id="sort-by-select">
            <option data-selection="Favorites" value="_by_fav">Sort by favorite</option>
            <option data-selection="by date" value="_by_date">Sort by date</option>
            <option data-selection="A-Z" value="_by_alph">Sort A-Z</option>
          </select>
        </div>
        <!-- <a href="#" class="button">Add Bucket</a> -->
      </div>
    </div>
    <div class="search-input-wrap">
      <svg class="icon icon-find"><use xlink:href="images/svg/icons.svg#icon-find"></use></svg>
      <input id="search-buckets-input" type="text" autocomplete="on" spellcheck="false" autocorrect="off" placeholder="Find a bucket…"/>
    </div>
  </div>

  <!-- Buckets -->
  <div class="buckets-list-wrap">
    <!-- List -->
    <ul class="list buckets-list scene_element--fadeinup scene_element scene_delay">
      <li class="section"><h5>A</h5></li>
      <% @buckets.each do |bucket| %>
        <%= render 'shared/buckets/bucket_preview', :bucket => bucket %>
      <% end %>
    </ul>
  </div>
</main>

<!-- SVGs -->
<%= render "shared/buckets/hippo_star" %>

</div>
