<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">

  <!-- Buckets Search Tools -->
  <%= render 'shared/buckets/bucket_sort' %>
  
  <%= render 'shared/search_results_list' %>
  <!-- Buckets -->
  <div class="buckets-list-wrap sorted-list" id="buckets-list">
    <!-- List -->
    <%= render 'shared/buckets/sorted_buckets', :buckets => @buckets %>
  </div>
</main>

<!-- SVGs -->
<%= render "shared/buckets/hippo_star" %>
<%= render 'shared/modals/new_bucket_modal' %>        

</div>
