<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">

  <%= render 'shared/search_results_list' %>

  <div class="thoughts-list-wrap sorted-list" id="thoughts-list-present">
    <div id="tp"></div>
    <%= render 'shared/items/sorted_items', :items => @items %>
    <%= render 'shared/items/thought_entry_form' %>
  </div>
</main>    
<%= render 'shared/items/paginate_items_js' %>
<%= render 'shared/items/thought_entry_form_js' %>
