<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<% if @user.items.outstanding.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.outstanding.includes(:buckets).each do |i| %>
          <a href=<%= item_path(i) %> class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <p class="list-group-item-text" style="overflow:hidden;"><small><small><em><%= i.friendly_time %></em></small></small></p>
              </div>
              <div class="col-md-10">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text" style="overflow:hidden;"><%= i.message %></p>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>

<% end %>


<% if @user.items.assigned.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.assigned.includes(:buckets).each do |i| %>
          <a href=<%= item_path(i) %> class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <p class="list-group-item-text" style="overflow:hidden;"><small><small><em><%= i.friendly_time %></em></small></small></p>
              </div>
              <div class="col-md-6">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text" style="overflow:hidden;"><%= i.message %></p>
              </div>
              <div class="col-md-4">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text" style="overflow:hidden;">
                  <small><small>
                    <% i.buckets.each_with_index do |b, n| %>
                      <%= ((n+1 < i.buckets.count) ? "#{b.display_name}, " : b.display_name) %>
                    <% end %>
                  </small></small>
                </p>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
