<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "+ New Note", new_item_path, :class => "btn btn-default btn-md btn-block" %>
  </div>
</div>
<br/>

<% if @user.items.outstanding.count > 0 %>

  <div class="row">
    <div class="col-xs-12">



      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Pending Notes
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <% @user.items.by_date.outstanding.includes(:buckets).each do |i| %>
              <%= render 'shared/items/listed_item', :i => i, :include_buckets => false %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group" id="items-container">
      <%= render 'items' %>
    </div>
    <% if true %>
      <%= link_to '+ Load More', current_user, remote: true, :class => "btn btn-primary btn-md btn-block" %>
    <% end %>
  </div>
</div>
