<% if logged_in? %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if defined?(@active) && @active == 'stacks' %>
        <a class="navbar-brand" href="<%= user_buckets_path(current_user) %>">Stacks</a>
      <% elsif defined?(@active) && @active == 'search' %>
        <a class="navbar-brand" href="<%= search_path %>">Search</a>
      <% else %>
        <a class="navbar-brand" href="<%= user_path(current_user) %>">Notes</a>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= new_item_path %>">+ New Note</a></li>
        <li <%= defined?(@active) && @active == 'notes' ? 'class="active"'.html_safe : nil %>><a href="<%= user_path(current_user) %>">Notes</a></li>
        <li <%= defined?(@active) && @active == 'stacks' ? 'class="active"'.html_safe : nil %>><%= link_to 'Stacks', user_buckets_path(current_user) %></li>
        <li <%= defined?(@active) && @active == 'search' ? 'class="active"'.html_safe : nil %>><%= link_to 'Search', search_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Reminders</a></li>
            <li><a href="#">Addons</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<% end %>