<%= form_for(@bucket) do |f| %>
  <% if @bucket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bucket.errors.count, "error") %> prohibited this bucket from being saved:</h2>

      <ul>
      <% @bucket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bucket_type %><br />
    <%= f.select :bucket_type, options_for_select(Bucket.bucket_types) %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% if @item_id %>
    <%= hidden_field_tag :with_item, @item_id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
