<!-- Main Menu -->
<nav class="thought-menu" role="navigation" aria-label="Thought Menu">
  <!-- Profile -->
  <div class="profile-overview">
    <a href="#" data-jq-dropdown="#profile-menu-1" data-vertical-offset="3" class="avatar dropdown">
      <img class="avatar med" src="<%= current_user.avatar_path %>" alt="">
    </a>
    <div id="profile-menu-1" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-menu">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
        <li class="jq-dropdown-divider"></li>
        <li><a href="#5">Keyboard Shortcuts</a></li>
      </ul>
    </div>
  </div>
  <!-- Options -->
  <div class="thought-options">
    <div class="utilities">
      <div class="buckets">
        <a href="#" id="toggle-bucket-select"><svg class="icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg></a>
        <select name="" multiple="multiple" id="bucket-select">
        </select>
      </div>
      <div class="upload">
        <a href="#" id="upload-assets"><svg class="icon icon-camera"><use xlink:href="#icon-camera"></use></svg></a>
      </div>
      <div class="nudges">
        <a href="#" data-jq-dropdown="#nudge-menu-1" id="toggle-calendar"><svg class="icon icon-alarm"><use xlink:href="#icon-alarm"></use></svg><time><span id="outputDate"><%= item.next_reminder_date ? formatted_date(item.next_reminder_date) : "Set Nudge" %></span><span id="outputFrequency"><%= item.item_type ? item.item_type : "" %></span></time></a>
        <div id="nudge-menu-1" class="center-dropdown jq-dropdown jq-dropdown-tip">
          <div class="jq-dropdown-panel">
            <div id="calendar-menu">                        
              <div class="frequency-settings">
                <div class="select-wrap">
                  <span class="frequency annually"><svg class="icon icon-repeat"><use xlink:href="#icon-repeat"></use></svg></span>
                  <%= f.hidden_field :reminder_date, :value => @item.next_reminder_date, :id => "hidden-reminder-date-field" %>
                  <%= f.select :item_type, options_for_select([["Don't repeat", "once"], ["Yearly", "yearly"], ["Weekly", "weekly"], ["Monthly", "monthly"]], @item.item_type), {}, :class => 'nice select-nice', :id => "calendar-frequency-option" %>
                </div>
              </div>
              
              <div id="calendar"></div> 
              <a href="#" id="remove-calendar-nudge" class="remove-nudge button">Remove Nudge</a>
            </div>
          </div>
        </div>
        <div id="overlay"></div>
      </div>
      <% if !@item.new_record? %>
        <div class="more">
          <a href="#" data-jq-dropdown="#more-options-menu-1"><svg class="icon icon-more"><use xlink:href="#icon-more"></use></svg></a>
          <div id="more-options-menu-1" class="center-dropdown jq-dropdown jq-dropdown-tip">
            <ul class="jq-dropdown-menu">
              <li><a href="#"><svg class="icon icon-duplicate"><use xlink:href="#icon-duplicate"></use></svg> Duplicate</a></li>
              <li><a href="#"><svg class="icon icon-trash"><use xlink:href="#icon-trash"></use></svg> Delete</a></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div class="file">
      <%= link_to :back, :class => "cancel" do %><span>Cancel</span><% end %>
      <%= link_to "#", :class => "save", :onclick => @item.new_record? ? "$('#new_item').submit()" : "$('#edit_item_#{@item.id}').submit()" do %><span>Save Thought</span><% end %>
    </div>
  </div>   
  <div class="thought-menu_mbl">
    <a href="#" class="trigger-side-menu_mbl">
      <svg class="icon icon-profile-outline"><use xlink:href="#icon-profile-outline"></use></svg>
    </a>
    <div class="file">
      <a href="thoughts.html" class="cancel"><span>Cancel</span></a>
      <a href="#" id="saveThought" class="save"><span>Save Thought</span></a>
    </div>
  </div>   
</nav>
