<nav class="main-menu" role="navigation" aria-label="Main Menu">
  <div class="primary-wrap">
    <ul class="nav-list">
      <li class="<%= active_thought_classes %>"><%= link_to user_items_path(current_user) do %><span><svg class="icon icon-chat"><use xlink:href="#icon-chat"></use></svg>Thoughts</span><% end %></li>

      <li class="<%= active_bucket_classes %>"><%= link_to user_buckets_path(current_user) do %><span><svg class="icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>Buckets</span><% end %></li>

      <li class="<%= active_nudge_classes %>"><%= link_to user_reminders_path(current_user) do %><span><svg class="icon icon-alarm"><use xlink:href="#icon-alarm"></use></svg>Nudges</span><% end %></li>
    </ul>
    <div class="utilities">
      <div class="main-search">
        <svg class="icon icon-find"><use xlink:href="#icon-find"></use></svg>
        <input id="search-thoughts-input" class="search-field" type="text" autocomplete="on" spellcheck="false" autocorrect="off" placeholder="Search your brain…"/>
      </div>
      <%= render 'shared/add_new_button' %>
    </div>
  </div>
  <% if @bucket %>
    <!-- Buckets Search Tools -->
    <div class="bucket-search-wrap">
      <div class="options-wrap">
        <div class="currently">
          <a href="#" data-jq-dropdown="#bucket-menu-1"><h5><%= @bucket.first_name %></h5></a>
          <div id="bucket-menu-1" class="jq-dropdown jq-dropdown-tip">
            <ul class="jq-dropdown-menu">
              <li><a href="#"><svg class="icon icon-settings"><use xlink:href="#icon-settings"></use></svg>Edit</a></li>
              <li><a href="#"><svg class="icon icon-trash"><use xlink:href="#icon-trash"></use></svg>Delete</a></li>
            </ul>
          </div>       
          <% if @bucket.users.count > 0 %>
            <a class="collab-count">
              <svg class="icon icon-profile-outline"><use xlink:href="#icon-profile-outline"></use></svg>
              <span class="count"><%= @bucket.users.count %></span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</nav>