<nav class="main-menu" role="navigation" aria-label="Main Menu">
  <div class="primary-wrap">
    <ul class="nav-list">
      <li class="<%= active_thought_classes %>"><%= link_to user_items_path(current_user) do %><span><svg class="icon icon-chat"><use xlink:href="#icon-chat"></use></svg>Thoughts</span><% end %></li>

      <li class="<%= active_bucket_classes %>"><%= link_to user_buckets_path(current_user) do %><span><svg class="icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>Buckets</span><% end %></li>

      <li class="<%= active_nudge_classes %>"><%= link_to user_reminders_path(current_user) do %><span><svg class="icon icon-alarm"><use xlink:href="#icon-alarm"></use></svg>Nudges</span><% end %></li>
    </ul>
    <div class="utilities">
      <%= render 'shared/add_new_button' %>
    </div>
  </div>
  <% unless @active == "profile" %>
    <%= render 'shared/menus/desktop/bucket-menu' %>
    <div class="search-bar-across">
      <svg class="icon icon-find"><use xlink:href="#icon-find"></use></svg>
      <input id="search-thoughts-input" class="search-field" type="text" autocomplete="on" spellcheck="false" autocorrect="off" placeholder="Search your brain…"/>
    </div>
  <% end %>
  
</nav>