<% if @user.buckets.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <%= link_to "<h4 class='list-group-item-heading'>+ New Stack</h4>".html_safe, new_bucket_path(with_item: @item.id), class: 'list-group-item' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <li class="list-group-item list-group-item-info">Recent</li>
        <% @user.buckets.recent_for_user_id(@user.id).excluding_pairs_for_item_id(@item.id).by_first_name.each do |b| %>
          <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
        <% end %>
      </div>
    </div>
  </div>

  <% if !defined?(@sort_by) || @sort_by == 'alphabetical' %>
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
          <li class="list-group-item list-group-item-info">Alphabetical</li>
          <% @user.buckets.excluding_pairs_for_item_id(@item.id).by_first_name.each do |b| %>
            <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
          <% end %>
        </div>
      </div>
    </div>

  <% elsif @sort_by == 'type' %>
    <div class="row">
      <div class="col-xs-12">

        <% if @user.buckets.excluding_pairs_for_item_id(@item.id).other_type.count > 0 %>
          <div class="list-group">
            <li class="list-group-item list-group-item-info">Other</li>
            <% @user.buckets.excluding_pairs_for_item_id(@item.id).other_type.by_first_name.each do |b| %>
              <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
            <% end %>
          </div>
        <% end %>

        <% if @user.buckets.excluding_pairs_for_item_id(@item.id).person_type.count > 0 %>
          <div class="list-group">
            <li class="list-group-item list-group-item-info">Person</li>
            <% @user.buckets.excluding_pairs_for_item_id(@item.id).person_type.by_first_name.each do |b| %>
              <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
            <% end %>
          </div>
        <% end %>

        <% if @user.buckets.excluding_pairs_for_item_id(@item.id).event_type.count > 0 %>
          <div class="list-group">
            <li class="list-group-item list-group-item-info">Event</li>
            <% @user.buckets.excluding_pairs_for_item_id(@item.id).event_type.order('id DESC').each do |b| %>
              <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
            <% end %>
          </div>
        <% end %>

        <% if @user.buckets.excluding_pairs_for_item_id(@item.id).place_type.count > 0 %>
          <div class="list-group">
            <li class="list-group-item list-group-item-info">Place</li>
            <% @user.buckets.excluding_pairs_for_item_id(@item.id).place_type.by_first_name.each do |b| %>
              <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

  <% elsif @sort_by == 'newest' %>
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group">
          <li class="list-group-item list-group-item-info">Recent first</li>
          <% @user.buckets.excluding_pairs_for_item_id(@item.id).recent_first.each do |b| %>
            <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name} <span class='badge'>#{b.items_count}</span></h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>

<% end %>