

<p>
  <b>Tocountry:</b>
  <%= @sm.ToCountry %>
</p>

<p>
  <b>Tostate:</b>
  <%= @sm.ToState %>
</p>

<p>
  <b>Smsmessagesid:</b>
  <%= @sm.SmsMessageSid %>
</p>

<p>
  <b>Nummedia:</b>
  <%= @sm.NumMedia %>
</p>

<p>
  <b>Tocity:</b>
  <%= @sm.ToCity %>
</p>

<p>
  <b>Fromzip:</b>
  <%= @sm.FromZip %>
</p>

<p>
  <b>Smssid:</b>
  <%= @sm.SmsSid %>
</p>

<p>
  <b>Fromstate:</b>
  <%= @sm.FromState %>
</p>

<p>
  <b>Smsstatus:</b>
  <%= @sm.SmsStatus %>
</p>

<p>
  <b>Fromcity:</b>
  <%= @sm.FromCity %>
</p>

<p>
  <b>Body:</b>
  <%= @sm.Body %>
</p>

<p>
  <b>Fromcountry:</b>
  <%= @sm.FromCountry %>
</p>

<p>
  <b>To:</b>
  <%= @sm.To %>
</p>

<p>
  <b>Tozip:</b>
  <%= @sm.ToZip %>
</p>

<p>
  <b>Messagesid:</b>
  <%= @sm.MessageSid %>
</p>

<p>
  <b>Accountsid:</b>
  <%= @sm.AccountSid %>
</p>

<p>
  <b>From:</b>
  <%= @sm.From %>
</p>

<p>
  <b>Apiversion:</b>
  <%= @sm.ApiVersion %>
</p>


<%= link_to 'Edit', edit_sm_path(@sm) %> |
<%= link_to 'Back', sms_path %>
