<li id="item<%= item.id %>" class="individual-item">
  <% if item.next_reminder_date || item.outstanding? %>
    <div class="status-info">
      <% if item.outstanding? && item.next_reminder_date %>
        <%= render 'shared/items/unassigned_and_nudged' %>
      <% elsif item.next_reminder_date %>
        <%= render 'shared/items/item_reminder' %>
      <% elsif item.outstanding? %>
        <%= render 'shared/items/item_outstanding' %>
      <% end %>
    </div>
  <% end %>
  <!--<a href="/items/<%= item.id %>"><%= item.message ? item.message : "" %></a>-->
  <%= link_to '#', :class => "", "data-reveal-id" => "itemModal", :id => "" do %>
    <%= item.message ? item.message : "" %>
  <% end %>
  <% if item.has_media? %>
    <%= render 'shared/items/item_media', :item => item %>
  <% end %>
  <% if defined?(current_user) && ((item.visible_buckets_for_user(current_user).count > 1 && defined?(@bucket)) || (item.visible_buckets_for_user(current_user).count > 0 && !defined?(@bucket))) %>
    <%= render 'shared/items/item_buckets_stickers', :item => item, :current_user => current_user %>
  <% end %>
</li>
