<li>
  <a href="thought.html">
    <% if item.next_reminder_date %>
      <%= render 'shared/items/item_reminder' %>
    <% end %>
    <% if item.outstanding? %>
      <%= render 'shared/items/item_outstanding' %>
    <% end %>
    <%= item.message %>
    <% if item.media_urls.count > 0 %>
      <%= render 'shared/items/item_media', :item => item %>
    <% end %>
    <% item.visible_buckets_for_user(current_user).each do |b| %>
      <%= render 'shared/items/bucket_sticker', :bucket => b %>
    <% end %>
  </a>


</li>