<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Hippo | Because people matter.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/app" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "/js/modernizr.js" %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,8|Roboto:400,300,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="site-wrap" class="scene_element--fadein scene_element">
    <%= render "shared/icons" %>

    <!-- Main Menu -->
    <%= render "shared/menus/desktop/main-menu" %>

    <!-- Side Menu -->
    <%= render "shared/menus/desktop/side-menu" %>

    <!-- Menus_mbl -->
    <%= render "shared/menus/mobile/all-mobile" %>

    <%= yield %>
    
    <%= render 'shared/app_js' %>
    
  </div>

  <%= render 'shared/menus/algolia_search' %>
  <%= render partial: "shared/pusher/bind" %>
  <%= javascript_include_tag "/js/libs.js" %>
  <%= javascript_include_tag "/js/instantclick.min.js"%>
  <script data-no-instant>
  InstantClick.on("receive", function(){
    console.log("receiving"); 
  });
  InstantClick.on("fetch", function(){
    console.log("fetching"); 
  });
  InstantClick.on("change", function(){
    console.log("change"); 
  });
    InstantClick.on("wait", function(){
      console.log("waiting"); 
    });
    InstantClick.init();
  </script>
</body>
</html>
