<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Hippo | Because people matter.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/app" %>
  <%= stylesheet_link_tag    "/stylesheets/app_override" %>
  <%= stylesheet_link_tag    "/stylesheets/project-index" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "/js/modernizr.js" %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,8|Roboto:400,300,300italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="site-wrap" class="scene_element--fadein scene_element">

    <%= yield %>

  </div>

  <%= javascript_include_tag "/js/libs.js" %>
  <%= javascript_include_tag "/js/app.js" %>
  <%= javascript_include_tag '/js/rapid-input.js' %>
  <%= javascript_include_tag '/js/libs/simplemde.min.js' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/min/dropzone.min.js"></script>
  <%= javascript_include_tag '/js/dropzone-action.js' %>
  <%= javascript_include_tag '/js/bucket-select.js' %>
  <%= javascript_include_tag '/js/project_wide.js' %>
</body>
</html>
